<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProyectoEDI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crear-mensaje">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Crear mensaje
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listar-mensaje">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista de mensajes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crear-segmento">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Crear segmento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listado-edi">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista de segmentos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crear-codigo-lista">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Crear Lista de codigo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listado-codigos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista de codigos
            </NavLink>
        </div>
       
    </nav>
</div>

