@page "/crearSegmento"
@using BusinessLogic
@using Entities.Entidades_Definicion
@using Entities.Enum
@inject SegmentManager SegmentManager
@inject NavigationManager Navigation

<PageTitle>Crear Segmento</PageTitle>


<div class="container d-flex justify-content-center">
    <div class="card p-4" style="width: 30rem;">
        <h2 class="text-center mb-4">Crear Segmento</h2>

        <form @onsubmit="CreateSegment">
            <!-- Selección del tipo de segmento -->          

            <div class="mb-3">
                <label for="codigo" class="form-label">Código:</label>
                <input type="text" class="form-control" id="codigo" @bind="segmento.SegmentCode">
            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" @bind="segmento.SegmentName">
            </div>

            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea class="form-control" id="descripcion" rows="3" @bind="segmento.SegmentDescription"></textarea>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="obligatorio" @bind="segmento.Obligatory">
                <label class="form-check-label" for="obligatorio">Obligatorio</label>
            </div>




            <!-- Botón de envío -->
            <div class="d-flex justify-content-center">

                <button type="submit" class="btn btn-danger w-50">Enviar</button>
            </div>

        </form>
    </div>
    <!-- PopUp para visualizar la lista de segmentos cuando se crea un segmento-->
    @if (showPopUpMessage)
    {
        <div class="overlay">
            <div class="popUpConfirmation">
                <h4>Segmento Creado</h4>
                <p>Segmento creado con éxito.¿Desea visualizarlo?</p>
                <div class="popup-buttons">
                    <button class="btn btn-success" @onclick="HandleConfirm">Aceptar</button>
                    <button class="btn btn-secondary" @onclick="HandleCancel">Cancelar</button>
                </div>
            </div>
        </div>
    }
</div>

@code {


    private SegmentDefinition segmento = new SegmentDefinition();
    public bool showPopUpMessage = false;

    private void CreateSegment()
    {
        if (segmento != null)
        {
            segmento.SegmentId = SegmentManager.AutoIncrement(); // Asignamos un ID
            // Añadimos el segmento en la lista 
            SegmentManager.AddSegment(segmento);
            showPopUpMessage = true;
            // Reiniciamos el formulario
            segmento = new SegmentDefinition();

        }
    }

    private void HandleConfirm()
    {


        showPopUpMessage = false;
        Navigation.NavigateTo("/listarSegmentos");
    }
    /// <summary>
    /// Método para el caso de cancelación de la lista de segmentos
    /// </summary>
    private void HandleCancel()
    {
        showPopUpMessage = false;
    }
}
    