@page "/listado-edi"
@using ProyectoEDI.Components.Services
@using Entities.Entidades_Representacion.Abstract
@using Entities.Entidades_Representacion.Segments
@inject NavigationManager Navigation
@inject SegmentService SegmentService
@rendermode InteractiveServer
<PageTitle>Listar Mensaje</PageTitle>
<h3 class="text-center">Listado de Segmentos:</h3>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Obligatorio</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (SegmentService.GetSegments().Count!=0)
            {
                Console.WriteLine("Segmentos encontrados: " + SegmentService.GetSegments().Count);
                @foreach (var s in SegmentService.GetSegments())
                {
                    <tr>
                        <td>@s.SegmentCode</td>
                        <td>@s.SegmentName</td>
                        <td>@s.SegmentDescription</td>
                        <td>@s.Obligatory</td>


                        <td>
                            <button class="btn btn-success">Ver segmento</button>
                            <button class="btn btn-warning" @onclick="() => Modificar(s)">Modificar</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No hay mensajes disponibles</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {

    public static List<Segment> Segments = new List<Segment>();

    private void Modificar(Segment segment)
    {
        Console.WriteLine("Entra al metodo Modificar");
        Navigation.NavigateTo($"/modificar-segmento/{segment.SegmentId}");
    }

    private void TestClick()
    {
        Console.WriteLine("boton pulsado");
    }
}