@page "/listarSegmentos"
@using ProyectoEDI.Components.Services
@inject SegmentService SegmentService
<PageTitle>Listado de Segmentos</PageTitle>
<h3 class="text-center">Listado de Segmentos:</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Tipo de Segmento</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Obligatorio</th>


                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (SegmentService.GetSegments() != null)
            {
                @foreach (var segmento in SegmentService.GetSegments())
                {
                    <tr>
                        <td></td>
                        <td>@segmento.SegmentCode</td>
                        <td>@segmento.SegmentName</td>
                        <td>@segmento.SegmentDescription</td>

                        @if (@segmento.Obligatory == true)
                        {
                            <td>Mandatory</td>
                        }
                        else
                        {
                            <td>Conditional</td>
                        }

                        
                        <td>
                            <button class="btn btn-success">Ver Segmento</button>
                            <button class="btn btn-warning">Modificar</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">No hay mensajes disponibles</td>
                </tr>
            }
        </tbody>
    </table>
</div>
