@page "/Message-details/{MessageId:int}"
@inject MessageManager MessageManager
@using Entities.Entidades_Definicion
@using BusinessLogic.Definition
@if (DataSource!=null)
{
    <div class="cw-480 demo-preventsel">
        <DxAccordion ExpandMode="ExpandMode"
                     ExpandCollapseAction="ExpandCollapseAction"
                     AnimationType="LayoutAnimationType.Slide">
            <Items>
                @foreach (MessagePosition message in DataSource.MessagePositions)
                {
                    <DxAccordionItem Text=@($"{message.Position} {message.obligatory}")>
                        <ContentTemplate>
                            <div class="py-3 px-3" tabindex="0">
                                @($"{message.Position} {message.obligatory}")
                                @* <EmployeeCard EmployeeInfo="@message"/> *@
                            </div>
                        </ContentTemplate>
                    </DxAccordionItem>
                }
            </Items>
        </DxAccordion>
    </div>
}



@code {
    [Parameter]
    public int MessageId { get; set; }

    public List<MessagePositionFlat> Positions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DataSource = MessageManager.GetMessageById(MessageId);
        if (DataSource != null && DataSource.MessagePositions != null)
        {
            Positions = DataSource.MessagePositions.Select(mp => new MessagePositionFlat
                {
                    Id = mp.id,
                    DisplayName = $"{mp.Position} - {mp.Segment?.Name ?? "Sin segmento"}",
                    SegmentGroupId = mp.SegmentGroup?.id
                }).ToList();
        }
    }

    public class MessagePositionFlat
    {
        public int Id { get; set; }
        public string DisplayName { get; set; }
        public int? SegmentGroupId { get; set; }
    }
    Message DataSource;
    IEnumerable<Message> Items;
    AccordionExpandMode ExpandMode { get; set; } = AccordionExpandMode.SingleOrNone;
    AccordionExpandCollapseAction ExpandCollapseAction { get; set; } = AccordionExpandCollapseAction.HeaderClick;
   
}
