@page "/ModifyMessage/{MessageId:int}"
@using Entities.Entidades_Definicion
@inject NavigationManager Navigation
@rendermode InteractiveServer
@using Entities.Model.Enum
@using BusinessLogic.Definition
@inject MessageManager messageManager

<h3>Modificar Mensaje</h3>

@if (message != null)
{
    <form class="modificationForm">
        <div class="form-row">
            <div class="form-group">
                <label for="messageType" class="form-label fw-bold">Message Type</label>
                <select class="form-select" id="messageType" @bind="message.MessageType">
                    @foreach (var type in Enum.GetValues(typeof(MessageTypeEnum)))
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="messageName" class="form-label fw-bold">Message Name</label>
                <input type="text" class="form-control" id="messageName" @bind="message.MessageName" placeholder="Enter message name">
            </div>
            <div class="form-group">
                <label for="messageVersion" class="form-label fw-bold">Message Version</label>
                <input type="text" class="form-control" id="messageVersion" @bind="message.MessageVersion" placeholder="Enter message version">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="messageRelease" class="form-label fw-bold">Message Release</label>
                <input type="text" class="form-control" id="messageRelease" @bind="message.MessageRelease" placeholder="Enter message release">
            </div>
            <div class="form-group">
                <label for="messageDirectoryVersion" class="form-label fw-bold">Message Directory Version</label>
                <input type="text" class="form-control" id="messageDirectoryVersion" @bind="message.MessageDirectoryVersion" placeholder="Enter directory version">
            </div>
            <div class="form-group">
                <label for="messageDescription" class="form-label fw-bold">Message Description</label>
                <textarea class="form-control" id="messageDescription" @bind="message.MessageDescription" placeholder="Enter message description"></textarea>
            </div>
        </div>
        <div class="form-buttons">
            <button type="button" class="btn btn-success px-4" style="background-color:red" @onclick="HandleConfirm">Guardar</button>
            <button type="button" class="btn btn-secondary px-4" @onclick="Cancel">Cancelar</button>
        </div>
    </form>




}
else
{
    <p>Cargando mensaje...</p>
}
@code {

    /// <summary>
    /// Pasar el id por parámetro
    /// </summary>
    [Parameter]
    public int MessageId { get; set; }

    private Message message;

   
    /// <summary>
    /// Al cargar la página, se busca el mensaje por su ID
    /// </summary>
    protected override void OnInitialized() 
    {
        message = messageManager.GetAllMessages().FirstOrDefault(m => m.MessageId == MessageId);
        if (message == null)
        {
            Console.WriteLine($"No se encontró el mensaje con ID {MessageId}");
        }
        else
        {
            Console.WriteLine($"Mensaje encontrado: {message.MessageName}");
        }
    }



    /// <summary>
    /// Al guardar los cambios, se redirige a la lista de mensajes
    /// </summary>
    private void HandleConfirm()
    {
        // Redirigir a la lista de mensajes con un parámetro indicando éxito
        Navigation.NavigateTo("/MessagesList?success=modified");
    }

 

    /// <summary>
    /// Al cancelar los cambios, se redirige a la lista de mensajes
    /// </summary>
    public void Cancel()
    {
		Console.WriteLine($"Cancelando cambios para el mensaje con ID {MessageId}");
        Navigation.NavigateTo("/MessagesList"); 
    }
}

