@page "/pruebamodal"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Web

<Modal @ref="modal">
    <HeaderTemplate>
        <h1>AMOGUS</h1>
    </HeaderTemplate>
    <BodyTemplate>
        amogus
    </BodyTemplate>
</Modal>

<Tooltip class="d-inline-block" Title="pulsa" role="button">
    <button type="button" class="btn btn-primary" @onclick="() => modal.ShowAsync()">
        Launch demo modal
    </button>
</Tooltip>

@code {
    private Modal modal = default!;
}

